:root {
  --blue: #13a6d3;
  --dark-blue: #174670;
  --white: #ffffff;

  --gray-1: rgb(252, 252, 255);
  --gray-2: rgb(250, 250, 252);
  --gray-3: rgb(248, 248, 251);
  --gray-4: rgb(244, 244, 247);
  --gray-5: rgb(240, 240, 243);
}